{
    "admins": [
    ],
    "aliases": {
        "mi": "mods incomplete",
        "mm": "mods missing",
        "mn": "mods nomods",
        "tw": "gc revan traya c3po"
    },
    "authors": [
        "<@337687649198276611>"
    ],
    "formats": {
        "lite": "**%name**%leader%reinforcement\n  **P**:%power **L**:%level **G**:%gear **H**:%health **P**:%protection **S**:%speed **T**:%tenacity **P**:%potency **CD**:%critical-damage\n",
        "long": "**%name**%leader%reinforcement\n  **Power**:      %power  **Level**:      %level  **Gear**:       %gear  **Health**:     %health  **Protection**: %protection  **Speed**:      %speed  **Potency**:    %potency  **Tenacity**:   %tenacity  **CD**:         %critical-damage  **CC (phy)**:   %physical-critical-chance  **CC (spe)**:   %special-critical-chance  **Armor**:      %armor\n  **Resistance**: %resistance\n",
        "short": "**%name**%leader%reinforcement\n  **Power:**%power **Level:**%level **Gear:**%gear\n  **H:**%health **Pr:**%protection **S:**%speed\n  **T:**%tenacity **Po:**%potency **CD:**%critical-damage\n"
    },
    "hello": [
    ],
    "nicks": {
        "1337": "L3-37",
        "aa": "Admiral Ackbar",
        "bastilla": "Bastila Shan",
        "bf": "Boba Fett",
        "bs": "Bastila Shan",
        "bsf": "Bastila Shan (Fallen)",
        "c3p0": "C-3PO",
        "cb": "Chewbacca",
        "cc": "Chief Chirpa",
        "chs": "Captain Han Solo",
        "cls": "Commander Luke Skywalker",
        "cup": "Coruscant Underworld Police",
        "cwc": "Clone Wars Chewbacca",
        "dk": "Director Krennic",
        "dn": "Darth Nihilus",
        "dv": "Darth Vader",
        "ee": "Ewok Elder",
        "ep": "Emperor Palpatine",
        "foe": "First Order Executioner",
        "foo": "First Order Officer",
        "fost": "First Order Stormtrooper",
        "fostp": "First Order SF TIE Pilot",
        "fotp": "First Order TIE Pilot",
        "fox": "First Order Executioner",
        "gat": "Grand Admiral Thrawn",
        "gk": "General Kenobi",
        "gmt": "Grand Moff Tarkin",
        "gmy": "Grand Master Yoda",
        "hoda": "Hermit Yoda",
        "hs": "Han Solo",
        "hst": "Stormtrooper Han",
        "hy": "Hermit Yoda",
        "hyoda": "Hermit Yoda",
        "ipd": "Imperial Probe Droid",
        "jc": "Jedi Consular",
        "jf": "Jango Fett",
        "jka": "Jedi Knight Anakin",
        "jkg": "Jedi Knight Guardian",
        "jkr": "Jedi Knight Revan",
        "jtr": "Rey (Jedi Training)",
        "kr": "Kylo Ren",
        "kru": "Kylo Ren (Unmasked)",
        "lc": "Lando Calrissian",
        "ng": "Nute Gunray",
        "qgj": "Qui-Gon Jinn",
        "raven": "Jedi Knight Revan",
        "rex": "CT-7567 \"Rex\"",
        "rjt": "Rey (Jedi Training)",
        "rolo": "Rebel Officer Leia Organa",
        "rp": "Resistance Pilot",
        "sth": "Stormtrooper Han",
        "vsc": "Veteran Smuggler Chewbacca",
        "vshs": "Veteran Smuggler Han Solo",
        "yhs": "Young Han Solo",
        "ylc": "Young Lando Calrissian"
    },
    "prefix": "!",
    "source": "https://github.com/quarantin/imperial-probe-droid",
    "timezone": "Europe/Paris",
    "token": "YOUR DISCORD TOKEN"
}
