{% extends "swgoh/card.html" %}
{% load i18n %}
{% block cardtitle %}TB Contributions{% endblock %}
{% block cardoptions %}
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="#">Export to CSV</a>
						</div>
					</div>
{% endblock %}
{% block cardbody %}
					<div class="chart-area" style="height: 100%;">
						<canvas id="myAreaChart"></canvas>
					</div>
					<script>
						$.getJSON('/territory-battle/contributions/json/' + window.location.search, '', function(data) {
							draw_charts('myAreaChart', 'Score', data);
						});
					</script>
{% endblock %}
