{% extends "swgoh/select.html" %}
{% block refresh %}
		<script>
			function refresh() {

				query = {};

				get_selected_value('timezone',  query);
				get_selected_value('tw',        query);
				get_selected_value('activity',  query);
				get_selected_value('territory', query);
				get_selected_value('player',    query);
				get_selected_value('target',    query);

				tokens = []
				for (key in query) {
					tokens.push(key + '=' + query[key]);
				}

				redirect_params = tokens.join('&');
				base_url = get_base_url();
				window.location = base_url + '?' + redirect_params;
			}
		</script>
{% endblock %}

{% block event %}
				<div>
					<label for="tb">Select a Territory Battle Instance</label>
					<br>
					<select id="tb" onchange="refresh()">
						<option value="all">--</option>{% for tb_id, tb_name in tbs.items %}
						<option value="{{ tb_id }}"{%if tb_id == tb %} selected{% endif %}>{{ tb_name }}</option>{% endfor %}
					</select>
				</div>
{% endblock %}
