{% extends "territorybattle/base.html" %}
{% block title %}Territory Battle{% endblock %}
{% block content %}
			<div id="content">
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Territory Battle - History</h1>

					{% include "territorybattle/select.html" %}

					<!-- DataTables -->
					<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">History</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="/territory-battle/history/csv/" download>Export to CSV</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
							<tr>
								<th>Timestamp</th>
								<th>Activity</th>
								<th>Phase</th>
								<th>Territory</th>
								<th>Player</th>
								<th>Score</th>
							</tr>
							</thead>
							<tfoot>
							<tr>
								<th>Timestamp</th>
								<th>Activity</th>
								<th>Phase</th>
								<th>Territory</th>
								<th>Player</th>
								<th>Score</th>
							</tr>
							</tfoot>
							<tbody>{% for event in events %}
								<tr>
								<td>{{ event.timestamp }}</td>
								<td>{{ event.event_type }}</td>
								<td>{{ event.phase }}</td>
								<td>{{ event.get_territory }}</td>
								<td>{{ event.player_name }}</td>
								<td>{{ event.score }}</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->
{% endblock %}
