{% extends "swgoh/select.html" %}
{% block refresh %}
		<script>
			function refresh() {

				query = {};

				get_selected_value('timezone',  query);
				get_selected_value('player',    query);

				tokens = []
				for (key in query) {
					tokens.push(key + '=' + query[key]);
				}

				redirect_params = tokens.join('&');
				base_url = get_base_url();
				window.location = base_url + '?' + redirect_params;
			}
		</script>
{% endblock %}
{% block event %}
				<div>
					<label for="player">Select a Player</label>
					<br>
					<select id="player" onchange="refresh()">
						<option value="0">--</option>{% for player_id, player_name in players.items %}
						<option value="{{ player_id }}"{% if player_id == player %} selected{% endif %}>{{ player_name }}</option>{% endfor %}
					</select>
				</div>
{% endblock %}
