{% extends "swgoh/base.html" %}

{% block title %}Raid Tickets (Detail){% endblock%}

{% block sidebar %}{% include "swgoh/guild_sidebar.html" %}{% endblock %}

{% block topbar %}{% include "swgoh/topbar.html" %}{% endblock%}

{% block content %}
			<div id="content">
				<div class="container-fluid">

{% include "swgoh/guild-tickets-detail-select.html" %}
{% include "swgoh/guild-tickets-detail-card.html" %}
{% endblock %}

				</div>
			</div>

{% block footer %}{% include "swgoh/footer.html" %}{% endblock %}
