{% extends "swgoh/base.html" %}

{% block title %}Raid Tickets - Guild Daily{% endblock%}

{% block sidebar %}{% include "swgoh/guild_sidebar.html" %}{% endblock %}

{% block topbar %}{% include "swgoh/topbar.html" %}{% endblock%}

{% block content %}
			<div id="content">
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Raid Tickets - Guild Daily</h1>

{% include "swgoh/guild-tickets-guild-daily-card.html" %}

				</div>
			</div>
{% endblock %}

{% block footer %}{% include "swgoh/footer.html" %}{% endblock %}
