{% extends "swgoh/base.html" %}

{% block title %}Raid Tickets - User Detail{% endblock%}

{% block sidebar %}{% include "swgoh/guild_sidebar.html" %}{% endblock %}

{% block topbar %}{% include "swgoh/topbar.html" %}{% endblock%}

{% block content %}
			<div id="content">
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Raid Tickets - User Detail</h1>

{% include "swgoh/guild-tickets-detail-select.html" %}
{% include "swgoh/guild-tickets-detail-card.html" %}
{% endblock %}

				</div>
			</div>

{% block footer %}{% include "swgoh/footer.html" %}{% endblock %}
