{% extends "swgoh/base.html" %}

{% block headers %}
<style>
@font-face {
	font-family: starjedi;
	src: url(/media/Starjedi.ttf);
}

.center {
	margin: auto;
	width: 50%;
	text-align: center;
	color: #1cdc17;
	font-size: 200%;
	font-family: starjedi;
}

body {
	background-color: black;
}
</style>
{% endblock %}

{% block title %}Coming Soon!{% endblock %}
{% block content %}
	<div class="center">
		<img src="{{ image_path }}">
	</div>
	<div class="center">
		Source code available on <a href="{{ github_url }}">Github</a>
	</div>
	<div class="center">
		Please support me on <a href="{{ patreon_url }}">Patreon</a>
	</div>
{% endblock %}
