{% extends "swgoh/base.html" %}

{% block title %}Raid Tickets - Average{% endblock %}

{% block content %}
			<div id="content">
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Raid Tickets - Average</h1>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Average Raid Tickets per User</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="/guild/tickets/average/csv/" download>Export to CSV</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
							<tr>
								<th>Player</th>
								<th>Average Raid Tickets</th>
							</tr>
							</thead>
							<tfoot>
							<tr>
								<th>Player</th>
								<th>Average Raid Tickets</th>
							</tr>
							</tfoot>
							<tbody>{% for player, average in averageTickets %}
								<tr>
								<td>{{ player }}</td>
								<td>{{ average }}</td>
							</tr>{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->
			<script>
				$(document).ready(function() {
					// Display 50 entries by default in dataTables
					$.fn.dataTable.defaults['iDisplayLength'] = 50;
				});
			</script>
{% endblock %}
