		<script>

			function get_selected_value(select_id, result) {
				select = document.getElementById(select_id);
				if (select) {
					select_value = select.options[select.selectedIndex].value;
					if (select_value != '--' && select_value != 'all' && select_value != 'default')
						result[select_id] = select_value;
				}
			}

			function get_base_url() {
				url = window.location.href;
				tokens = url.split('?');
				return tokens[0];
			}

		</script>

{% block refresh %}{% endblock %}

		<div id="filters" class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Filters</h6>
			</div>
			<div class="card-body">
				<div>
					<label for="timezone">Select your Timezone</label>
					<br>
					<select id="timezone" onchange="refresh()">{% for tz_id, tz_name in timezones.items %}
						<option value="{{ tz_id }}"{% if tz_id == timezone %} selected{% endif %}>{{ tz_name }}</option>{% endfor %}
					</select>
				</div>
{% block event %}{% endblock %}
			</div>
		</div>

