		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas"></i>
				</div>
				<div class="sidebar-brand-text mx-3">{% block subtitle %}{% endblock %}</sup></div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item {% block dashboard_active %}{% endblock %}">
				<a class="nav-link" href="/dashboard/">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span>
				</a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Profile -->
			<li class="nav-item {% block profile_active %}{% endblock %}">
				<a class="nav-link" href="/profile/">
					<i class="fas fa-fw fa-cog"></i>
					<span>Profile</span>
				</a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Guild -->
			<li class="nav-item {% block guild_active %}{% endblock %}">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#guildCollapse" aria-expanded="true" aria-controls="guildCollapse">
					<i class="fas fa-fw fa-cog"></i>
					<span>Guild</span>
				</a>
				<div id="guildCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Guild</h6>
						<a class="collapse-item" href="/guild/">Guild</a>
						<a class="collapse-item" href="/guild/tickets/global-daily/">Raid Tickets (Global Daily)</a>
						<a class="collapse-item" href="/guild/tickets/global-per-user/">Raid Tickets (Global per User)</a>
						<a class="collapse-item" href="/guild/tickets/detail/">Raid Tickets (Detail)</a>
						<a class="collapse-item" href="/guild/tokens/">Guild Tokens</a>
					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Grand Arena -->
			<li class="nav-item {% block ga_active %}{% endblock %}">
				<a class="nav-link" href="/grand-arena/">
					<i class="fas fa-fw fa-cog"></i>
					<span>Grand Arena</span>
				</a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Territory Battles-->
			<li class="nav-item {% block tb_active %}{% endblock %}">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#territoryBattleCollapse" aria-expanded="true" aria-controls="territoryBattleCollapse">
					<i class="fas fa-fw fa-cog"></i>
					<span>Territory Battles</span>
				</a>
				<div id="territoryBattleCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Territory Battle</h6>
						<a class="collapse-item" href="/territory-battle/stats/">TB Stats</a>
						<a class="collapse-item" href="/territory-battle/history/">TB History</a>
						<a class="collapse-item" href="/territory-battle/contributions/">TB Contribs</a>
						<a class="collapse-item" href="/territory-battle/contributions/chart/">TB Contribs (Charts)</a>
					</div>
				</div>

			</li>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Territory Wars -->
			<li class="nav-item {% block tw_active %}{% endblock %}">
				<a class="nav-link" href="/territory-war/">
					<i class="fas fa-fw fa-cog"></i>
					<span>Territory Wars</span>
				</a>
			</li>

		</ul>
		<!-- End of Sidebar -->
