{% extends "swgoh/select.html" %}
{% block refresh %}
		<script>
			function refresh() {

				query = {};

				get_selected_value('timezone',  query);
				get_selected_value('tw',        query);
				get_selected_value('activity',  query);
				get_selected_value('territory', query);
				get_selected_value('player',    query);
				get_selected_value('target',    query);
				get_selected_value('preloaded', query);

				tokens = []
				for (key in query) {
					tokens.push(key + '=' + query[key]);
				}

				redirect_params = tokens.join('&');
				base_url = get_base_url();
				window.location = base_url + '?' + redirect_params;
			}
		</script>
{% endblock %}

{% block event %}
				<div>
					<label for="tw">Select a Territory War Instance</label>
					<br>
					<select id="tw" onchange="refresh()">{% if not tws %}
						<option value="all">--</option>{% endif %}{% for tw_id, tw_name in tws.items %}
						<option value="{{ tw_id }}"{%if tw_id == tw %} selected{% endif %}>{{ tw_name }}</option>{% endfor %}
					</select>
				</div>
				<div>
					<label for="preloaded">Squad is Preloaded</label>
					<br>
					<select id="preloaded" onchange="refresh()">
						<option value="all">All</option>
						<option value="yes"{% if preloaded == "yes" or preloaded == 1 %} selected{% endif %}>Yes</option>
						<option value="no"{% if preloaded == "no" or preloaded == 0 %} selected{% endif %}>No</option>
					</select>
				</div>

{% endblock %}
